<%@ tag language="java" pageEncoding="ISO-8859-1" import="quiz.*"%>
<% Quiz quiz = (Quiz) request.getSession().getAttribute("quiz"); %>
<% int num = (Integer) request.getSession().getAttribute("q"); %>
<%= quiz.getQuestion(num).getEditQuestionHTML() %>
