<%@ tag language="java" pageEncoding="ISO-8859-1"%>
<%@tag import="project.User" %>  
<% User user = (User) request.getSession().getAttribute("user"); %>
<article>
<h3>Messages</h3>
<%=user.getNotes() %> 
</article>