<%@ tag language="java" pageEncoding="ISO-8859-1"%>
<%@tag import="quiz.*,project.*" %>
<% Quiz quiz = (Quiz) request.getSession().getAttribute("quiz"); %>
<% User user = (User) request.getSession().getAttribute("user");%>
<h3><%=quiz.getName()%>  created by  <%=user.getLinkToUserHTML()%></h3>
<p>Category: <%=quiz.getCategory()%></p>
<p>Description: <%=quiz.getDescription()%></p>