<%@ tag language="java" pageEncoding="ISO-8859-1"%>
<%@tag import="quiz.*,project.*" %>
<% Database db = (Database) request.getServletContext().getAttribute("database"); %>
<h3>Quizzes:</h3>
<%=Quiz.getAllQuizzes(db)%>