<%@ tag language="java" pageEncoding="ISO-8859-1" import="quiz.*"%>

<% Quiz quiz = (Quiz) request.getSession().getAttribute("quiz"); %>
<% int questionNum = (Integer) request.getSession().getAttribute("q"); %>
<%=quiz.getQuizHTML(questionNum)%>
