<%@ tag language="java" pageEncoding="ISO-8859-1"%>
<%@ tag import="project.*"%>
<% Database db = (Database) request.getServletContext().getAttribute("database"); %>
<article>
<h3>Users</h3>
 <%=User.getListAllUsersHTML(db)%>
</article>