html,body {
	padding:0px;
	margin:0px;
}

header {
	text-align: center;
	background: url('https://farm3.staticflickr.com/2861/12899028555_e9ca86be06_o.jpg');
	background-size: cover;
	color: white;
}

#empty_div {
	height: 150px;
}

ul {
    list-style-type: none;
}

a {
	text-decoration: none;
	color:#55636c;
}

a.h {
	color: white;
	text-decoration: none;
}

ul.h {
	padding: 10px;
	background: rgba(0, 0, 0, 0.5);
}

li.h {
	display: inline;
	padding: 0px 10px 0px 10px;
	
}

li {
	text-align:left;
	padding: 0px;
	margin: 0px;
}

article {
	max-width: 600px;
	padding: 20px;
	margin: 0 auto;
	color: #38454d;
}

h1,h2 {
	color: #000000;
	text-align: center;
}

h3 {
	color: #55636c;
}

#container {
	padding-left: 80px;
	padding-right: 280px;
}

#container .column {
	position: relative;
	float: left;
}

#center {
	padding: 0px 10px;
	width: 100%;
}

#left {
  width: 20px;          /* LC width */
  padding: 0px 10px;       /* LC padding */
  right: 140px;          /* LC fullwidth + CC padding */
  margin-left: -100%;
}

#right {
	width: 220px;
	padding: 0px 10px;
	margin-right: -280px;
}

/*The table all has Tahoma at size 13px*/
table {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	border: 10px solid #55636c;
	padding: 10px;
	margin: 10px;
}

thead {
	color: #ffffff;
	background-color: #687291;
	text-align:left;

}

#found_fri {
	color:#52636d;
}


input[type=text] {
	padding: 2px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=text]:focus {
	border-color: #333;
}

input[type=submit] {
	padding: 5px 15px;
	background: #6c757a;
	color:white;
	border: 0 none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

button {
	padding: 5px 15px;
	background: #ffe9b0;
	border: 0 none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}

img {
	max-height: 200px;
	max-width: 300px;
}
