* {
	margin: 0;
	padding: 0;
}

html {
	background:
		url(https://farm3.staticflickr.com/2861/12899028555_e9ca86be06_o.jpg)
		no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#page-wrap {
	width: 400px;
	margin: 50px auto;
	padding: 20px;
	background: white;
	-moz-box-shadow: 0 0 20px black;
	-webkit-box-shadow: 0 0 20px black;
	box-shadow: 0 0 20px black;
}

div.forms {
	width: 260px;
	height: 200px;
	background-color: clear;
	position: absolute;
	top: 20;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

legend {
	color:#f6d0a3;
}

td {
	color:#b6a392;
}

input[type=text] {
	padding: 2px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=password] {
	padding: 2px;
	border: 1px solid #ccc;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

input[type=text]:focus {
	border-color: #333;
}

input[type=submit] {
	padding: 5px 15px;
	background: #b6a392;
	border: 0 none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.topRight {
    position: absolute;
    top: 0%;
    right: 0%;
}

button {
	padding: 5px 15px;
	background: #ffe9b0;
	border: 0 none;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-weight: bold;
}